<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Aisyiyah</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/fanades/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="../static/fanades/css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="../static/fanades/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/fanades/css/responsive.css" rel="stylesheet" />






</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              Aisyiyah
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <!-- <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a> -->
                </li>
                <li class="nav-item ">
                  <!-- <a class="nav-link" href="about.html"> About </a> -->
                </li>

                <li class="nav-item ">
                  <!-- <a class="nav-link" href="admission.html"> Admission </a> -->
                </li>

                <li class="nav-item">
                  <!-- <a class="nav-link" href="why.html"> Why Us </a> -->
                </li>

                <li class="nav-item">
                  {% if 'login' in session %}
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                  {% else %}
                  <a class="nav-link" href="/login">Login</a>
                  {% endif %}
                </li>
              </ul>
            </div>
        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h1>
            Sehat, Cerdas, Ceria, Terampil dan Berakhlak Mulia
          </h1>
          <br>
          <div class="hero_btn-continer">
            <a href="https://sway.office.com/LSEuynnRe8Xrn0SK" target="_blank" class="call_to-btn btn_white-border">
              Join Us
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="../static/fanades/images/bgfix.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="../static/fanades/images/aboutv2.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                About our School
              </h3>
              <p>
                TK Aisyiyah 3 Rewwin di resmikan pada tahun 1992, setahun kemudian mendapat izin pendirian dari Pimpinan Pusat Aisyiyah bagian pendidikan dan kebudayaan dengan SK. Pendirian No 0IV6/ W2/PPA/D/1992 dan izin operasional TK di terima melalui cabang dinas waru.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- admission section -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3>
                History
              </h3>
              <p>
                Pada tahun 2005 diresmikan KB Aisyiyah III Rewwin, berdasarkan banyaknya peminat untuk anak usia dini (3-4 tahun). Setahun kemudian KB Aisyiyah III Rewwin mendapat izin pendirian dari Pimpinan Pusat Aisyiyah bagian pendidikan dan kebudayaan dengan SK pendirian No 421-9/2573/404.3.14/2006 dan izin operasional KB di terima melalui cabang dinas waru.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="../static/fanades/images/history.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- end admission section -->

    <!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="../static/fanades/images/kurikulum.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3>
                Kurikulum KB & TK Aisyiyah 3 Rewwin
              </h3>
              <p>
                Dalam KBM KB TK Aisyiyah 3 Rewwin, mengelola kegiatan pembelajaran yang menyenangkan, kreatif dan partisipatif, KB-TK Aisyiyah 3 Rewwin menerapkan model pembelajaran Sentra, dimana kelompok anak dalam satu hari bermain di dalam satu Sentra yang berisi berbagai aktifitas sebagai pemenuhan densitas main.
                <br>Sentra yang ada : <br>
                Sentra Persiapan<br>
                Sentra Seni Kreatifitas<br>
                Sentra Balok<br>
                Sentra Bahan Alam<br>
                Sentra Bermain Peran<br>
                Sentra Musik Olah Tubuh<br>
                Sentra Ibadah
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end why section -->

    <!-- determine section -->
    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Kegiatan Ekstrakurikuler KB & TK Aisyiyah 3 Rewwin
              </h3>
              <p>
                Terdapat beberapa kegiatan yang bisa diikuti oleh peserta didik diantaranya adalah: <br><br>
                Menari <br>
                Menyanyi <br>
                Melukis<br>
                Drumband (untuk usia TK)<br>
                Tapak Suci (untuk usia TK)
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../static/fanades/images/kegiatan1.jpeg" alt="">
                  </div>
                  <div class="carousel-item">
                    <img src="../static/fanades/images/kegiatan2.jpeg" alt="">
                  </div>
                  <div class="carousel-item">
                    <img src="../static/fanades/images/kegiatan3.jpeg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end determine section -->

  </div>


  <!-- client section -->
  <section class="client_section layout_padding">
    {% if data_teacher|length != 0 %}
    <h2 class="">
      Tenaga Pengajar
    </h2>
    {% endif %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for i in data_teacher %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index-1}}" {% if loop.index-1 == 0 %}class="active"{% endif %}></li>
              {%endfor%}
            </ol>
            <div class="carousel-inner">
              {% for i in data_teacher %}
              <div class="carousel-item {% if loop.index-1 == 0 %} active {% endif %}">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="../static/image/{{i.photo}}" style="width: 247.5px; height: 247.5px;" alt="" class="rounded-circle">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            {{i.nama}}
                          </h5>
                          <p>
                            Teacher at KB & TK Aisyiyah 3 Rewwin Waru, Sidoarjo <br><br><br>
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              {% endfor %}
            </div>
          </div>
     
    </div>
  </section>


  <!-- end client section -->


      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2 class="text-center">
            KB & TK Aisyiyah 3 Rewwin
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    About Us                                                                             
                </h5>
               <p>
                  KB & TK Aisyiah 3 Rewwin Waru Sidoarjo Terakreditasi A
               </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Address 
                </h5>
                <p>
                  Jln Raya Garuda No 14 Rewwin Waru Sidoarjo.
                </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Contact Us
                </h5>
                <p>
                  Phone: <a href="tel:0318547760" class="text-white">(031) 8547760</a>
                </p>
              </div>
                
              </div>
            </div>
          </div>
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2022 All Rights Reserved By
      <a href="#">KB & TK Aisyiyah 3 Rewwin</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="../static/fanades/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/fanades/js/bootstrap.js"></script>

 
</body>

</html>