<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Aisyiyah</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/fanades/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="../static/fanades/css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="../static/fanades/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/fanades/css/responsive.css" rel="stylesheet" />






</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              Aisyiyah
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <!-- <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a> -->
                </li>
                <li class="nav-item ">
                  <!-- <a class="nav-link" href="about.html"> About </a> -->
                </li>

                <li class="nav-item ">
                  <!-- <a class="nav-link" href="admission.html"> Admission </a> -->
                </li>

                <li class="nav-item">
                  <!-- <a class="nav-link" href="why.html"> Why Us </a> -->
                </li>

                <li class="nav-item">
                  {% if 'login' in session %}
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                  {% else %}
                  <a class="nav-link" href="/login">Login</a>
                  {% endif %}
                </li>
              </ul>
            </div>
        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h1>
            Best way to improve children creativity
          </h1>
          <p>
            Kreativitas anak merupakan hal yang paling menakjubkan bagi semua orang tua. Dengan melihat anak semakin kreativ maka orang tua bisa membanggakan anak mereka.
          </p>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="../static/fanades/images/hero.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

  <div class="common_style">

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="../static/fanades/images/about.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                About our School
              </h3>
              <p>
                TK Aisyiyah adalah sekolah yang berbasis islami yang mengutamakan agama,moral,etika,kebiasaan dalam berkegiatan sehari - hari di sekolah sehingga siswa mampu membiasakan dan menerapkannya di rumah.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end about section -->

    <!-- admission section -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3>
                Child psychology
              </h3>
              <p>
                Memahami pola psikologi anak baik yang normal dan abnormal, dapat membantu orang tua dalam berbagai hal berikut: Memahami cara terbaik dalam berkomunikasi dan terhubung dengan anak. Mengajari anak mekanisme mengelola emosi. Membantu anak maju dan berkembang di setiap tahap perkembangan baru.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="../static/fanades/images/admission.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- end admission section -->

    <!-- why section -->
    <section class="why_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="why_img-container">
              <img src="../static/fanades/images/why.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="why_detail-box">
              <h3>
                Why learn on Aisyiyah waru
              </h3>
              <p>
                Taman kanak-kanak Aisyiyah Waru Sidoarjo merupakan taman kanak-kanak unggulan yang dapat mendidik anak tidak hanya dalam pelajaran formal, tetapi juga dalam hal agama, moral, etika, dan sopan santun.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end why section -->

    <!-- determine section -->
    <section class="determine_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="determine_detail-box">
              <h3>
                Datermine the right for your child
              </h3>
              <p>
                Dengan memilih sekolah yang tepat untuk anak anda, anak dapat berkembang secara lebih baik dengan bantuan tenaga pengajar yang professional.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="determine_img-container">
              <img src="../static/fanades/images/determine.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- end determine section -->

  </div>


  <!-- client section -->
  <section class="client_section layout_padding">
    {% if data_teacher|length != 0 %}
    <h2 class="">
      Tenaga Pengajar
    </h2>
    {% endif %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for i in data_teacher %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index-1}}" {% if loop.index-1 == 0 %}class="active"{% endif %}></li>
              {%endfor%}
            </ol>
            <div class="carousel-inner">
              {% for i in data_teacher %}
              <div class="carousel-item {% if loop.index-1 == 0 %} active {% endif %}">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="client_img-box">
                          <img src="../static/image/{{i.photo}}" alt="" class="rounded-circle">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="client_detail-box">
                          <h5>
                            {{i.nama}}
                          </h5>
                          <p>
                            Teacher at TK & KB Aisyiyah 3 Rewwin Waru, Sidoarjo <br><br><br>
                          </p>
                        </div>
                      </div>
                    </div>
              </div>
              {% endfor %}
            </div>
          </div>
     
    </div>
  </section>


  <!-- end client section -->


      <section class="info_section layout_padding-top">
        <div class="info_logo-box">
          <h2 class="text-center">
            TK & KB Aisyiyah 3 Rewwin
          </h2>
        </div>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-3">
                <h5>
                    About Us                                                                             
                </h5>
               <p>
                  Taman Kanak-Kanak Aisyiah Waru Sidoarjo
               </p>
              </div>
              <div class="col-md-3">
                <h5>
                    Useful Link 
                </h5>
                <ul>
                  <li>
                    <a href="">
                        Home
                    </a>
                  </li>
                  <li>
                   <a href="">
                      About Us
                   </a>
                  </li>
                  <li>
                    <a href="">
                       Contact
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h5>
                    Contact Us
                </h5>
                <p>
                  
                </p>
              </div>
                
              </div>
            </div>
          </div>
        </section>

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2021 All Rights Reserved By
      <a href="#">TK Aisyiyah Waru Sidoarjo</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="../static/fanades/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/fanades/js/bootstrap.js"></script>

 
</body>

</html>